.roomDataContainer{
    height: 500px;
    width: 150px;
    margin-left: 10px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    
}

.inforBarRoomData{
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.userListContainer{
    overflow:auto;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.user{
    background: #f3ccd3;
    border-radius: 20px;
    padding: 5px 20px;
    color: black;
    display: inline-block;
    margin: 5px;
    text-align: center;
}

.userMe{
    background: #ccf3eb;
}

@media (min-width: 480px) and (max-width: 800px) {
    .roomDataContainer {
      width: 20%;
    }
  }

  @media  (max-width: 600px) {
    .roomDataContainer {
      
      max-height: 15%;
      width: 100%;
    }
    .userListContainer{
        flex-direction: row;
      flex-wrap: wrap;
    }

  }

  @media  (max-height: 600px) {
    .roomDataContainer{
     height: 95%;
    }
  }